# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (keep datasets out of git if large)
*.zip

# IDE
.vscode/
.idea/
